#wrong-image{
    width: 120px;
}


div{
    display: inline-block;
    font-size: 100px;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.purple{
    background-color: purple;
}

.orange{
    background-color: orange;
}